body{
  background-color: rgb(12, 12, 12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.list{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style:preserve-3d;
  transform: perspective(1000px);
  
}
.list .item{
  transition: .5s;
  filter: brightness(0);
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 2px;
}
.list .item:hover{
  filter: brightness(1);
  transform: translateZ(200px);
}
.list .item:hover + *{
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}